@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600&display=swap");

:root {
    --dark-color: #141428;
    --darkest-color: #0c0c18;
    --dark-color-brighter: #1b1b38;
    --light-color: #e0e0e0;
    --light-color-darker: #b3b3b3;
    /*--accent-color: #3b0b78;*/
    --accent-color: #9d14ff;
    --glow-color: #6a0dad;
    --low-contrast: #e0e0e0;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

input, textarea, button, select {
    font: inherit
}

html {
    height: 100%;
    color-scheme: dark;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

body {
    font-family: Inter, system-ui, sans-serif;
    min-height: 100%;
    background-color: #141428;
    color: var(--light-color-darker);
    margin: 0;
}

section {
    background: linear-gradient(
        45deg,
        var(--dark-color),
        var(--dark-color-brighter)
    );
    padding: 1rem;
    display: flex;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--accent-color);
    flex-direction: column;
    justify-content: space-around;
    box-shadow: var(--glow-color) 0px 0px 6px;
}

/*
need this because I want to center the main content
to the screen, not to the space below the header
*/
.centering-is-hard {
    display: flex;
    align-items: center;

    /* making space so the header is not covered.
    font size * line-height + padding
    TODO: find a better way..? or make these vars */
    padding-top: calc(3rem * 1.5 + 40px);
    padding-bottom: calc(1rem * 1.5 + 40px);
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    min-height: 100%;
    bottom: auto;
}

.logo {
    color: var(--light-color);
    font-family: "Titillium Web", system-ui, sans-serif;
    font-weight: 600;
    /* need this set for the padding calculation
    on the main content, just to be sure*/
    font-size: 3rem;
    line-height: 1.5;
}

.logo:hover {
    cursor: default;
}

.section-heading {
    font-size: 2rem;
    color: var(--light-color);
    margin-top: 5px;
    margin-bottom: 5px;
}

.subheading {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.text {
    font-size: 1.125rem;
    line-height: 1.5;
}

.bold {
    font-size: 600;
}

/* styles for the full navigation bar */
.nav-list {
    list-style: none;
    display: flex;
    gap: 24px;
}

.nav-list a,
.hamburger-links a{
    text-decoration: none;
    color: inherit;
}

.nav-list a:hover,
.hamburger-links a:hover {
    color: var(--accent-color);
}

.nav-list a:hover {
    text-decoration: underline;
    text-underline-offset: 1.75rem;
}

/* styles for hamburger menu */
.hamburger-nav {
    display: none;
    justify-content: center;
}

.hamburger-links{
    display: flex;
    gap: 24px;
    margin-bottom: 30px;
    overflow: hidden;
    list-style: none;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.hamburger-icon {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 24px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: var(--light-color-darker);
    transition: all 0.3s ease-in-out;
}

/* styles for setting the hamborger menu open */
.hamburger-nav.open {
    display: flex;
}
.hamburger-links.open {
    max-height: 300px;
}

/* hamburger menu open/close toggle with open class */
.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}
.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}
.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child,
.hamburger-icon span:nth-child(2),
.hamburger-icon span:last-child
 {
    transform: none;
    opacity: 1;
}

.contact-icon-container {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.contact-icon:hover {
    filter: drop-shadow(0 0 10px var(--glow-color));
}

#email-icon {
    fill: #000;
    stroke: #fff;
}

#github-icon {
    /*fill: #24292f*/
    fill: var(--light-color-darker);
}

